@* Main page layout. This style is shared across all pages *@
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> @ViewData["Title"] </title>
    <link rel="icon" type="image/x-icon" href="assets/cheese.png" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/my-styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light masthead background-color" id="mainNav" style="padding-top: 1rem;">
        <div class="container background-color">
            <div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="px-lg-3 py-3 py-lg-4 navbar-brand" asp-controller="HomePage" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="px-lg-3 py-3 py-lg-4 navbar-brand" asp-controller="HomePage" asp-action="Calculator">Calculator</a></li>
                </ul>
            </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
    <header class="masthead background-color">
        <div class="container position-relative px-4 px-lg-5" style="display: grid; grid-template-columns: auto auto;">
            <div class="row gx-4 gx-lg-5" style="justify-content: flex-start;">
                <div class="site-heading" style="padding-top: 120px;">
                    <h1>Nik Giuliani</h1>
                    <span class="subheading"> Software Engineer </span>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5" style="justify-content: flex-end;">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <img src="~/assets/img/IMG-3283.jpg" height="400px" width="300px" alt="Playing cards and losing">
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <!-- Footer-->
    <footer class="border-top" style="bottom: 0; width: 100%; position: fixed; background-color: #fff;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <!-- Link to linkedin account -->
                            <a href="https://www.linkedin.com/in/nikolasgiuliani" target="_blank">
                                <span class="fa-stack fa-md"> 
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <!-- Link to github account -->
                            <a href="https://github.com/nikgiuliani" target="_blank">
                                <span class="fa-stack fa-md">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="text-center text-muted fst-italic" style="font-size: 0.7em">Copyright &copy; Nik Giuliani 2000-2023</div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- jquery -->
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
</body>

</html>